# General
*.log
*.pdf
*.png

# IDE
.vscode/ # VSCode settings
media/
**/migrations/
# Python
*.pyc
env/
venv
__pycache__/
# Databases
*.sqlite3

# JavaScript
node_modules/
build/ # Webpack build output

